@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
    margin: 0px;
    padding:0px;
    font-family:  "Sora", sans-serif;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.card{
    width:340px ;
    height: 368px;
    background-color:#FAFAF9;
    border-radius: 5px;
    box-shadow: 0px 30px 100px 0px rgba(10, 12, 19, 0.05);
    padding:16px;
    padding-bottom: 20px;
    position: relative;
    top:150px;
    left:550px;
    right:auto;
    
}
.card-main{
    width: 336px;
 
}
.card-img{
    width: 336px;
    height: 152px;
    padding-bottom: 16px;
    border-radius: 15px;
}
.card-btn{
    padding:6px 16px;
    font-weight: 600;
    background-color:#E6D6FC;
    color:#883AE1;
    font-size: 12px;
    border:none;
    border-radius:20px;
    
}

.card-title{
    font-size: 18px;
    margin-top: 16px;
    margin-bottom:6px;
}
.card-content{
    font-size:14px;
    color: #6C727F;
    margin-top: 0%;
    margin-bottom: 20px;
}
.card-foot{
    font-size:12px;
    color: #6C727F;
}
#card-line{
  border:0.5px solid #E5EAF0;
}

@media(max-width:640px){
    .card{
   top:150px;
   left:136px;
   right:136px;
    }
}